:root {
    --main-padding: 4px;
    --main-height: 993px;
    --map-size: 570px;
}

* {
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

body {
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tracker {
    padding: var(--main-padding);
    box-sizing: border-box;
}

.tracker-column-set {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
}

.tracker-column {
    white-space: nowrap;
    flex-shrink: 0;
}

.connector-column {
    width: 190px;
}

.other-rooms-column {
    padding-left: 32px;
}

.filler-column {
    flex-grow: 1;
}

.items-column {
    width: 232px;
}

.settings-container {
    position: relative;
}

.settings {
    margin-top: 32px;
}

.settings p {
    margin-bottom: 12px;
}

.warnings {
    margin-top: 32px;
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
    text-overflow: wrap;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.map-cover {
    z-index: 6;
    width: 100%;
    text-align: center;
}

.room-cover {
    z-index: 1;
    width: calc(100% - 272px);
    text-align: center;
}

.full-cover {
    z-index: 7;
    width: calc(100% - 272px);
    text-align: center;
}

.cover-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 1px solid;
    font-size: 20px;
}

.room-cover .cover-box {
    top: 25%;
}

.cover-box > p {
    margin: 20px;
}

.unassign-button {
    color: #ff0000;
    border: white 1px solid;
    padding: 4px 20px;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 0;
}

td {
    vertical-align: top;
}

.table-filler {
    height: 32px;
    width: 100%;
}

.stripe-table tr:nth-child(even) > td {
    background-color: #202020;
}

.label {
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    margin-top: 3px;
}

.dungeon-row td:first-child {
    padding-left: 4px;
}

.dungeon-row td:last-child {
    padding-right: 8px;
}

.dungeon-label {
    font-size: 16px;
    width: 64px;
    padding-left: 16px;
 }

.dungeon-icon {
    width: 32px;
    height: 32px;
    position: relative;
}

.dungeon-unchecked {
    width: 32px;
}

.dungeon-compass {
    margin-right: 4px;
}

.dungeon-smallkeys {
    width: 124px;
    height: 32px;
    position: relative;
}

.dungeon-smallkey-counter {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    font-weight: bold;
}

.dungeon-smallkey-icon {
    width: 16px;
    height: 32px;
    position: absolute;
    top: 1px;
}

.small-horizontal-spacer {
    width: 8px;
}

.room-table {
    margin-top: 32px;
}

.room-table td {
    width: 70px;
}

.room-row {
    height: 32px;
}

.room-label {
    margin-right: 8px;
}

.unchecked-counts {
    font-weight: bold;
    font-size: 12px;
}

.room-label .unchecked-counts {
    vertical-align: super;
}

.unchecked-nonscoutable {
    color: #00ff00;
}

.unchecked-scoutable {
    color: goldenrod;
}

.unchecked-zero {
    color: #808080;
}

.room-part-label {
    margin-left: 16px;
    margin-right: 8px;
    text-align: center;
}

.room-part-label.room-part-label-first {
    margin-left: 0;
}

.connector-column .room-label {
    margin-right: 0;
    text-align: center;
}

.connector-column .room-part-label {
    margin-left: 0;
}

.room-box {
    border: 1px solid;
    width: 138px;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    margin-top: 2px;
}

.room-box:hover {
    background-color: #484848;
}

.room-box-small {
    display: inline-block;
    width: 28px;
    margin-left: 4px;
}

.room-box-small:first-child {
    margin-left: 0;
}

.text-muted {
    color: #808080;
}

.text-strike {
    color: #808080;
    text-decoration: line-through;
}

.item-tracker {
    margin-top: 32px;
}

.item-row {
    height: 32px;
}

.item-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.notes {
    display: block;
    height: 316px;
    width: 220px;
    overflow: auto;
    text-align: left;
    border: 1px solid;
    box-sizing: border-box;
    padding: 4px;
    margin-top: 32px;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.icon-inactive {
    filter: grayscale(100%);
    opacity: 0.5;
}

.maps {
    position: relative;
    z-index: 2;
    padding-top: 2px;
    font-size: 0;
}

.map-part {
    display: inline-block;
    background-size: cover;
    width: var(--map-size);
    height: var(--map-size);
    margin-left: 8px;
    position: relative;
}

.map-part:first-child {
    margin-left: 0;
}

.icon-marker {
    position: absolute;
    z-index: 3;
    width: 32px;
    height: 32px;
    transform: translate(-16px, -16px);
    pointer-events: none;
    background-color: black;
    border: 1px solid white;
}

.door-marker {
    position: absolute;
    z-index: 4;
    width: 21px;
    height: 21px;
    transform: translate(-10px, -10px);
    color: black;
    border: 1px solid black;
    box-sizing: border-box;
    pointer-events: none;
    font-size: 9px;
    white-space: pre;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.door-marker-focused {
    z-index: 5;
    outline: 2px solid black;
}

.door-marker-unassigned {
    background-color: #ff0000;
}

.door-marker-generic {
    background-color: #00ffd0;
}

.door-marker-connector {
    background-color: #ffff00;
}

.door-marker-dungeon {
    background-color: #c080ff;
}

.door-marker-cleared {
    background-color: rgba(128,128,128,0.5)
}

.door-marker-cleared.door-marker-focused {
    background-color: white;
}

.task-marker {
    position: absolute;
    z-index: 4;
    transform: translate(-6px, -6px);
    pointer-events: none;
    background-color: #ff0000; /*#ff7000;*/
    width: 15px;
    height: 15px;
    border-radius: 13px;
    border: 1px solid black;
    box-sizing: border-box;
}

.task-marker-focused {
    z-index: 5;
    border: 3px solid black;
}

.task-marker-cleared {
    background-color: rgba(128,128,128,0.5);
}
